*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(250, 235, 225);
}
.main-container{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 60%;
    margin: auto;
    margin-top: 8%;
}
.left{
    width: 50%;
}
.right{
    width: 50%;
}
.bg-white{
    background-color: white;
}
.side-gap{
    margin: 25px 25px 25px 25px ;
}
.add-to-cart{
    color: white;
    background-color:rgb(62, 117, 66) ;
    border: 1px solid rgb(62, 117, 66);
    border-radius: 3px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.add-to-cart:hover{
    background-color: rgb(28, 45, 29) ;
}
